.mebox {
  display: flex;
  max-width: 100vw;
  width: fit-content;
  padding: 15px;
  margin: 10px;
  transition: transform 0.5s;
  box-shadow: 0 0 35px #094b65;
  background: rgb(238, 237, 237);
}
.mebox img {
  object-fit: cover;
}
.itsmemain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.mebox:hover {
  transform: scale(1.3);
}
